@charset "utf-8";

@import "reset";

html {
  font: {
    size: 16px;
    family: "Arial", "Helvetica", "微軟正黑體", "sans-serif";
  }
  background: {
    color: #bbb;
  }
}

.mx {
  &-auto {
    margin: {
      left: auto;
      right: auto;
    }
  }
}

.container {
  max-width: 689px;
}

.header {
  width: 100%;
  &__title {
    margin: {
      top: 15px;
      bottom: 40px;
    }
    font: {
      size: 3rem;
      weight: 600;
    }
    text: {
      align: center;
      shadow: 0.025em 0.02em #fff;
    }
    color: #666;
  }
}


.ad {
  &__showBox {
    position: relative;
    overflow: hidden;
    background: {
      color:#fff;
    }
  }
  &__wrap {
    display: flex;
    transition: all 1s;
  }
  &__controller {
    position: absolute;
    top: 0;
    border: 0;
    background-color: #00000071;
    font-size: 20px;
    padding: 81px 7px;
    &:hover {
      cursor: pointer;
    }
    user-select: none;
    color: #fff;
    &--left{
      left: 0;
    }
    &--right{
      right: 0;
    }
  }
  &__link {
    margin: 15px;
    display: block;
    box-sizing: border-box;
    &:hover {
      opacity: 0.8;
    }
    flex-shrink: 0;
  }

  &__img {
    width: 100%;
    display: block;
    height: auto;
  }
  &__pgBar {
    display: flex;
    justify-content: center;
    margin: {
      top: 20px;
    }
  }
  &__pgTab {
    padding: 3px;
    width: 36px;
    font: {
      size: 14px;
    }
    background: {
      color: #fff;
    }
    &:hover {
      cursor: pointer;
    }
    &+& {
      margin: {
        left: 10px;
      }
    }
  }
}

.js {
  &-ad__pgTab {
    background-color: #0ca0ce;
  }
  &-ad__img {
      display: block;
  }
}
