@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  font-family: "Arial", "Helvetica", "微軟正黑體", "sans-serif";
  background-color: #bbb;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 689px;
}

.header {
  width: 100%;
}

.header__title {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 0.025em 0.02em #fff;
  color: #666;
}

.ad__showBox {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.ad__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.ad__controller {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #00000071;
  font-size: 20px;
  padding: 81px 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
}

.ad__controller:hover {
  cursor: pointer;
}

.ad__controller--left {
  left: 0;
}

.ad__controller--right {
  right: 0;
}

.ad__link {
  margin: 15px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.ad__link:hover {
  opacity: 0.8;
}

.ad__img {
  width: 100%;
  display: block;
  height: auto;
}

.ad__pgBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.ad__pgTab {
  padding: 3px;
  width: 36px;
  font-size: 14px;
  background-color: #fff;
}

.ad__pgTab:hover {
  cursor: pointer;
}

.ad__pgTab + .ad__pgTab {
  margin-left: 10px;
}

.js-ad__pgTab {
  background-color: #0ca0ce;
}

.js-ad__img {
  display: block;
}
